.bg {
  background-image: url("../../images/hero3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: left;
  align-items: center;
  min-height: 100vh;
}

.hello {
  font-family: "Arial, sans-serif";
  font-size: "8rem";
  font-weight: 900;
  color: #000000;
  text-shadow: 2px 2px 4px #000000;
}

@media (max-width: 575px) {
  .bg {
    background-image: url("../../images/marjan.jpg");
    min-height: 100%;
  }
}
